
<%@posts.each do |post| %>
  <div class='userpost'><br>
    <div class='usertitle'>
      <h2 class='post'><%= post.title %></h2>
      <h3><%= post.subject %></h3><br>
    </div><br>
    <div class='postreply'>
      <% post.replies.each do |reply| %>
      <%= reply.content %><br><br>
    <% end %>
    </div><br>
    <form action='/delete'>
        <button type="submit" title="<%= post.title %>" name='delete' value="<%= post.id %>">Delete</button><br>
    </form><br>
  </div><br>
<% end %>
