
<% @posts.each do |post| %>
  <div class='userpost'><br>
    <div class='usertitle'>
      <h2 class='post'><%= post.title %></h2>
      <h3><%= post.subject %></h3><br>
    </div><br>
    <% if post.replies.length != 0 %>
      <h3 class='post'>Replies</h3><br>
      <div class='postreply'>
        <% post.replies.each do |reply| %>
          <%= reply.content %><br><br>
        <% end %>
      </div>
    <% else %>
      <h3>No Replies</h3>
    <% end %><br>
    <form action='/delete'>
        <button type="submit" title="<%= post.title %>" name='delete' value="<%= post.id %>">Delete Post</button><br>
    </form><br>
  </div><br>
<% end %>
